body {
    display: flex;
    flex-direction: column;
}

.main-footer {
    flex-shrink: 0;
}

.main-content {
    flex: 1 0 auto;
    position: relative;
}

.main-header {
    border-bottom: 1px solid #d7d7d7;
    background: #fff;
    padding-top: 50px;
}

.main-header .header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 50px;
}

.content-head .page-back {
    margin-right: 20px;
}
footer .footer-top .footer-menu-subscribe .footer-subscribe > div .form-control,
header .header-bottom .cat-search .search .form-control {
    padding-right: 40px;
}

footer .footer-bottom .footer_select-lang .main-select-2arrows + .select2-container--default .select2-selection--single .select2-selection__arrow b {
    bottom: 13px;
}

.footer .footer-bottom .footer_select-lang .main-select-2arrows + .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    top: 9px;
}

.logo-small-screens_logo {
    width: 50px;
}

/*header dropdown just list*/
.nav-item--has-dropdown_dropdown-link {
    padding: 10px 18px;
}

.nav-item--has-dropdown_dropdown-link:hover {
    background: #e7efff;
    color: #5184e5;
}

.nav-item--has-dropdown_dropdown-item:not(:last-of-type)  {
    border-bottom: 1px solid #d7d7d7;
}

.sort-by-selects {
    background: #fff;
}

.add-cart-number {
    margin-top: 3px;
}

.products-wrap {
    margin-bottom: 20px;
}

.products-wrap_col,
.news-wrap_col {
    padding:0 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}

.display-grid .products-wrap_col,
.display-grid .news-wrap_col {
    margin-left: 0;
    margin-right: 0;
    width:20%;
}

.product-card-thumbs,
.product-card .product-card_btn {
    position: absolute;
    bottom:0;
}

.display-grid .product-card-thumbs,
.display-grid .product-card_btn {
    position: static;
}

.product-card-thumbs {
    left: 0;
}

.product-card .product-card_btn {
    right: 0;
    width: 40%;
}

.product-card_btn:focus,
.product-card_btn:hover {
    color: #fff;
}

.display-grid .product-card_btn {
    width: 100%;
}

.product-card_body-text {
    position: relative;
    padding: 40px 50px 35px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.display-grid .product-card_body-text {
    padding: 20px 15px 20px;
    height: auto;
    display: block;
}

.product-card_icons-outer {
    margin-top: auto;
}

.display-grid .product-card_icons-outer {
    margin-top: 0;
}

.product-card_body-text .card-title {
    padding-right: 80px;
}

.display-grid .product-card_body-text .card-title {
    padding-right: 0;
}

.product-card .product-card_price {
    position: absolute;
    right: 40px;
    top: 40px;
    padding-left: 15px;
}


.display-grid .product-card_price {
    position: relative;
    right: 0;
    top: 0;
}

.product-card,
.news-card {
    display: flex;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.display-grid .product-card,
.display-grid .news-card {
    flex-direction: column;
}

.product-card img {
    object-fit: contain;
    font-family: 'object-fit: contain;';
}

.product-card img {
    height: 290px;
}

.product-card_view,
.news-card_view {
    background: #e3e6ed;
    overflow-y: hidden;
}

.product-card_view,
.news-card_view {
    width: 31%;
    flex: 0 0 31%;
}

.product-card_view {
    padding: 40px 20px 0;
    height: 290px;
}

.display-grid .product-card_view,
.display-grid .news-card_view {
    width: 100%;
    flex: 0 0 100%;
}

.product-card_body,
.news-card_body {
    width: 69%;
    flex: 0 0 69%;
}

.product-card_body {
    position: relative;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    padding-bottom: 52px;
}

.display-grid .product-card_body,
.display-grid .news-card_body {
    width: 100%;
    flex: 0 0 100%;
}

.display-grid .product-card_body {
    padding-bottom: 0;
}

.product-card_like-icon {
    right: 20px;
    top: 20px;
}

.like-icon.active svg path{
    fill: #ee3a50;
}

.new-label,
.sale-label {
    padding: 5px 12px 3px;
    line-height: 1;
}

.new-label {
    background: #5184e5;
}

.product-card_new-label {
    left: 15px;
    bottom: 15px;
}

.sale-label {
    background: #ee3a50;
}

.product-card_sale-label {
    right: 15px;
    bottom: 15px;
}

.product-card_old-price {
    right: 100%;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.product-card_old-price:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    content: '';
    display: inline-block;
    background: #7c7c7c;
    height: 1px;
    width: 108%;
}

.product-card_btn {
    background: #5184e5;
}

.product-card .product-card_btn {
    padding: 8px 40px;
}

.display-grid .product-card .product-card_btn {
    padding: 8px 20px;
}


.display-grid .product-card_btn-text {
    flex: 1;
}

.product-card_icon:not(:last-child) {
    margin-right: 22px;
}


.product-card_thumb-img-holder img {
    height: 50px;
    width: 58px;
    object-fit: contain;
    font-family: 'object-fit: contain;';

}

.product-card_thumb-img-holder {
    position: relative;
}

.product-card_thumb-img-holder {
    border: 1px solid #d7d7d7;
    border-bottom-width: 0;
}

.display-grid .product-card_thumb-img-holder,
.display-grid .product-card_thumb-img-holder:after {
    border-bottom-width: 1px;
}

.product-card_thumb-img-holder.active_slider:after {
    position: absolute;
    left: 0;
    top: 0;
    background: #5184e5;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    opacity: .6;
}

.scroll-top-btn {
    position: absolute;
    right: 30px;
    bottom: 50px;
    background: #fff;
    border: 1px solid #c3c3c3;
    height: 55px;
    width: 55px;
}

.scroll-top-btn:focus {
    outline: none;
}


/*single product*/
.product-single-view-outer {
    width: 430px;
    margin-right: 80px;
}

.product-single-info-outer {
    flex: auto;
}

.product-card-thumbs.product-card-thumbs--single {
    position: static;
    margin-bottom: 37px;
}


.product-card-thumbs.product-card-thumbs--single .product-card_thumb-img-holder {
    border: 1px solid #d7d7d7;
}

.product-card-thumbs.product-card-thumbs--single .product-card_thumb-img-holder img {
    height: 85px;
    width: 85px;
}

.product-card_view.product-card_view--single {
    border: 1px solid #d7d7d7;
    width: 100%;
    height: 530px;
}


.single-product-main-title .like-icon {
    background: #e3e6ed;
    height: 50px;
    width: 50px;
    margin-right: 30px;
    flex: none;
}

.single-product-select + .select2-container .select2-selection--single {
    background: #ebeef4;
    height: 52px;
    border: 1px solid #d7d7d7;
}

.single-product-select + .select2-container--default .select2-selection--single .select2-selection__arrow b,
.single-product-select + .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: #353535 transparent transparent transparent;
    bottom: 14px;
}


.single-product-select + .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    border-color: transparent transparent #353535 transparent;
    top: 14px;
}

.single-product-select + .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 52px;
    padding-left: 18px;
    padding-right: 28px;
}

.product-single-info_label {
    margin-right: 40px;
    min-width: 100px;
}

.product-single-info_row {
    padding: 10px 0 40px;
}

.product-single-info_row:not(:last-child),
.single-product-dtls-wrap {
    border-bottom: 1px solid #e3e6ed;
}

.single-product-dtls-wrap-outer {
    padding-top: 18px;
}

.single-product-dtls-wrap {
    padding-bottom: 40px;
    margin-bottom: 32px;
}

.product-single-info_radio-label {
    padding-left: 50px;
}

.product-single-info_radio-label:before {
    background: transparent;
    border: 1px solid #d8d8d8;
    height: 30px;
    width: 30px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-control-input:focus~.product-single-info_radio-label:before,
.custom-control-input:focus~.product-single-info_check-label:before {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.custom-control .custom-control-input:checked~ .product-single-info_radio-label:before,
.custom-control .custom-control-input:checked~ .product-single-info_check-label:before {
    background-color: #5184e5;
    border-color: transparent;
}

.custom-control-input:checked~ .product-single-info_radio-label:after {
    background-image: none !important;
    background-color: #cbdaf7;
    border-radius: 50%;
    display: block;
    height: 8px;
    width: 8px;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
}


.free-label {
    color: #bdc1c9;
}

.product-single-info_custom-control {
    padding-left: 0;
}

.product-single-info_custom-control:not(:last-of-type) {
    margin-right: 40px;
}

.product-single-info_title {
    margin-bottom: 27px;
}

.product-single_share-icon {
    margin-bottom: 25px;
}

.product-single-share-outer {
    margin-bottom: 22px;
}

.single-product_top-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
}

.continue-shp-wrapp {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 95px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    z-index: 9999;
}

.continue-shp-wrapp .product-card_btn {
    padding: 14px 40px;
    margin-right: 60px;
    width: 290px;
}

.continue-shp-wrapp .product-card_price {
    padding-left: 70px;
}


.continue-shp-wrapp .product-card_old-price {
    left: 0;
    right: auto;
}

.product-card_view--single .new-label, .product-card_view--single .sale-label {
    padding: 10px 22px 8px;
    line-height: 1;
}

.product-single-tab_link {
    color: #bdc1c9;
    padding: 0;
}

.product-single-tab_item:not(:last-of-type) {
    margin-right: 50px;
}

.product-single-tab_link.active,
.product-single-tab_link:hover {
    color: #5184e5;
}

.product-single-tab_nav-pills {
    margin-bottom: 30px;
}

.product-single-tecnical-text {
    max-width: 875px;
}

.single-product-page {
    height: auto;
    margin-bottom: 95px; /*equals bottom fixed area height*/
}

/*.single-product-page-cnt {*/
    /*height: calc(100% - 77px); !*minus breadcrump height*!*/
    /*margin-bottom: 95px; !*equals bottom fixed area height*!*/
/*}*/


.continue-shp-wrapp_qty {
    border: 1px solid #d7d7d7;
    padding: 5px 45px;
    width: 170px;
    height: 55px;
    margin-right: 85px;
}


.continue-shp-wrapp_qty input[type='number']::-webkit-outer-spin-button,
.continue-shp-wrapp_qty input[type='number']::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.continue-shp-wrapp_qty input[type='number'] {
    -moz-appearance:textfield;
}

.continue-shp-wrapp_qty-minus {
    left: 10px;
}

.continue-shp-wrapp_qty-plus {
    right: 10px;
}

.continue-shp-wrapp_qty-plus,
.continue-shp-wrapp_qty-minus {
    top: 50%;
    transform: translateY(-50%);
}


.continue-shp-wrapp_qty .field-input:focus {
    outline: none;

}

.related-tab-pane {
    padding-bottom: 30px;
}

.product-single-colors_item label {
    outline: 1px solid #d7d7d7;
    height: 45px;
    width: 45px;
}

.product-single-colors_item:not(:last-of-type) label {
    margin-right: 20px;
}


.product-single-colors_item input:checked + label {
    outline-width: 3px;
}

.product-single-colors_item input {
    display: none;
}

.product-single-colors_item.cl-blue label {
    background: #5184e5;
}

.product-single-colors_item.cl-red label {
    background: #ee3a50;
}

.product-single-colors_item.cl-gray label {
    background: #e8ebf1;
}

.product-single-colors_item.cl-black label {
    background: #353535;
}

.product-single-colors_item.cl-white label {
    background: #fff;
}

.product-single-info_range-outer {
    margin-bottom: 50px;
}

.product-single-info_colors-outer {
    margin-bottom: 10px;
}

.price-place-promotion {
    width: 100px;
    word-wrap: break-word;
    text-align: center;
    line-height: 1.3;
}

.custom-control-label.product-single-info_title-label:before {
    position: static;
}

.custom-control-label.product-single-info_title-label:after,
.custom-control-label.product-single-info_title-label:before {
    left: 0;
    top: 0;
}

/*range single product*/
.range-steps {
    width: 412px;
    padding-top: 45px;
}

.range-steps_item {
    flex: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 25px;
}

.range-steps_count {
    position: relative;
    color: #bdc1c9;
    margin-bottom: 0;
}


.range-steps_item:last-of-type {
    flex: 0;
}

.range-steps_item:last-of-type:after {
    display: none;
}


.range-steps_item:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #b2cdff;
}


.range-steps_item.active:after,
.range-steps_item.line-none:after {
    background-color: #e3e6ed;
}


.range-steps_item:before {
    position: absolute;
    top: -12px;
    left: -8px;
    content: '';
    display: block;
    z-index: 10;
}


.range-steps_item.active .range-steps_count {
    color: #353535;
}


.range-steps_item.active:before {
    background: url("../img/icon-2arrows.svg") center no-repeat;
    background-color: #5184e5;
    width: 25px;
    height: 25px;
    display: block;
    flex: none;
}

.range-steps_item input {
    display: none;
}


/*sidebar prifile*/
.hidden-sidebar {
    position: fixed;
    top: 50px; /*equals header-top height*/
    background: #3a3a3a;
    z-index:10000;
    transition: all .5s;
    height: calc(100% - 50px); /*minus header-top heighr*/
}

.hidden-sidebar.show {
    right: 0;
    box-shadow: -3px 0 12px 1px rgba(16, 16, 20, .3);
}

.profile-sidebar {
    width: 305px;
    right: -305px;
    padding-bottom: 38px;
}

.profile-sidebar_avatar-holder {
    background: #e3e6ed;
    height: 280px;
    width: 100%;
}

.profile-sidebar_avatar-holder img {
    height: 280px;
    width: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
}

.hidden-sidebar .profile-sidebar-menu {
    border-top: 10px solid #353535;
    margin-bottom: 30px;
    overflow-y: auto;
}

.profile-sidebar-menu_item {
    text-align: center;
}

.hidden-sidebar .profile-sidebar-menu_item:hover {
    background: #353535;
}

.profile-sidebar--inner-pages .profile-sidebar-menu_link {
    padding-left: 0;
    padding-right: 0;
}

.profile-sidebar-menu_link {
    color: #9f9f9f;
    padding: 20px 10px;
    text-align: left;
    width: 80%;
}

.hidden-sidebar .profile-sidebar-menu_link {
    border-bottom: 1px solid #303030;
}

.profile-sidebar-menu_link:hover {
    color: #5184e5;
}

.hidden-sidebar .profile-sidebar-menu_icon {
    margin-right: 40px;
}

.hidden-sidebar .profile-sidebar-menu_icon svg {
    width: 26px;
}

.hidden-sidebar .profile-sidebar-menu_icon svg path {
    fill: #5184e5;
}

.profile-sidebar_logout-btn {
    border: 0;
    outline: none;
    background: #5184e5;
    height: 42px;
    padding: 10px 25px;
}

.hidden-sidebar .profile-sidebar_logout-btn {
    width: 229px;
}

.profile-sidebar-menu_item-amount {
    background: #7090cb;
    color: #fff;
    border-radius: 9px;
    height: 17px;
    width: 25px;
}

.hidden-sidebar .profile-sidebar-menu_item-amount {
    margin-left: 25px;
}

.product-single-share-col {
    position: relative;
}


/*sidebar cart*/
.cart-sidebar {
    width: 370px;
    right: -370px;
    padding: 20px 20px 38px;
}

.cart-sidebar_item {
    background: #3a3a3adb;
    padding: 15px 18px;
    margin-bottom: 18px;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(1,1,1,0.5);
    -moz-box-shadow: 3px 3px 9px 0px rgba(1,1,1,0.5);
    box-shadow: 3px 3px 9px 0px rgba(1,1,1,0.5);
}

.cart-sidebar_item:last-of-type {
    margin-bottom: 0;
}

.cart-sidebar_item-img-holder,
.cart-sidebar_item-img-holder img{
    width: 110px;
    height: 110px;
}

.cart-sidebar_item-img-holder {
    background: #E3E6ED;
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.cart-sidebar_item-img-holder img {
    object-fit: contain;
    font-family: "object-fit: contain;";
}

.cart-sidebar_item-close {
    right: 0;
    top: 0;
    background: #5184e5;
    height: 30px;
    width: 30px;
}

.cart-sidebar_item-close svg {
    width: 10px;
}

.cart-sidebar_item-empty-msg {
    display: none;
    font-size: 20px;
    border-bottom: 1px dotted;
    padding-bottom: 10px;
}

.cart-sidebar_qty-select + .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.cart-sidebar_qty-select + .select2-container .select2-selection--single {
    height: 38px;
}

.cart-sidebar_qty-select + .select2-container--default .select2-selection--single {
    background: #E3E6ED;
}

.cart-sidebar_view-btn,
.cart-sidebar_check-btn {
    padding: 10px 30px;
}

.cart-sidebar_view-btn:focus,
.cart-sidebar_check-btn:focus,
.cart-sidebar_check-btn:focus,
.ntfs-btn:focus,
.ntfs-btn:active {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.cart-sidebar_view-btn {
    background: #5184e5;
}

.cart-sidebar_check-btn {
    background: #fff;
    border: 0;
}

.cart-product-qty-select {
    background: #fff url(../img/arrow-down-blue.svg) center no-repeat;
    background-position: right 6px center;
    border: 0;
    padding: 6px;
    width: 50px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/*news*/
.news-wrap {
    padding-top: 40px;
}

.news-card_view {
    height: 232px;
}

.news-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: "object-fit: cover;";
}


.display-grid .news-card_body {
    border: 1px solid #d7d7d7;
    border-top: 0;
    padding: 20px 15px 18px 20px;
    justify-content: flex-start;
}

.news-card_body {
    background: #fff;
    border: 1px solid #d7d7d7;
    border-left: 0;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 20px 40px;
    justify-content: space-between;
}

.news-card_body-text {
    margin-bottom: 32px;
}

.news-card_views {
    margin-right: 15px;
    padding-top: 6px;
}

.news-card_views-tooltip  {
    left: 0;
    right: 0;
    bottom: 100%;
    background: #353535;
    color: #e3e6ed;
    height: 19px;
    width: 52px;
}

.underlined-on-hover:after {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.news-card_views-tooltip,
.news-card_share-icon {
    visibility: hidden;
    opacity: 0;
}

.news-card_views-tooltip:after {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 6px 5px 0 5px;
    border-color: #353535 transparent transparent transparent;
    border-style: solid;
}

.news-card:hover .news-card_views-tooltip,
.news-card:hover .news-card_share-icon {
    visibility: visible;
    opacity: 1;
}

.news-card:hover .card-title:after {
    border-top-color: currentColor;
}

.news-card_share-icon {
    top: 15px;
    right: 15px;
}

.news-card_footer {
    border-top: 1px solid #d7d7d7;
    padding-top: 8px;
}

.display-grid .news-card_footer {
    padding-top: 0;
    border-top-color: transparent;
}

.view-more-dots {
    margin-bottom: 25px;
}

.view-more-dots_item {
    background: #bcbcbc;
    border-radius: 50%;
    height: 3px;
    width: 3px;
}

.view-more-dots_item:not(:last-of-type) {
    margin-right: 10px;
}

.main-pagination-wrapp {
    margin-bottom: 50px;
}

.main-pagination-wrapp .pagination,
.main-pagination-wrapp .page-item .page-link {
    border-color: #d7d7d7;
}

.main-pagination-wrapp .page-item .page-link {
    padding: 12px 16px;
    height: 42px;
}

.main-pagination-wrapp .page-item.disabled .page-link {
    color: #bcbcbc;
}

.main-pagination-wrapp .page-item.active .page-link {
    background-color: #5184e5;
    border-color: #5184e5;
}

.main-pagination-wrapp .page-item:not(.active) .page-link:hover,
.main-pagination-wrapp .page-item .page-link:focus {
    color: #5184e5;
    background-color: #fff;
    border-color: #d7d7d7;
}

.main-pagination-wrapp .page-item .page-link:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal {
    z-index: 99999;
}


/*Account page*/
.notif-modal .modal-content{
    height: 250px;
}
.profile-sidebar--inner-pages {
    width: 150px;
    padding-top: 38px;
}

.profile-sidebar--inner-pages .profile-sidebar-menu_link{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;

}

.profile-sidebar--inner-pages .profile-sidebar-menu_icon {
    margin-bottom: 5px;
}


.profile-sidebar--inner-pages .profile-sidebar-menu_item.active .profile-sidebar-menu_link {
    color: #5184e5;
}

.profile-sidebar--inner-pages .profile-sidebar-menu_item {
    margin-bottom: 15px;
}

.profile-sidebar--inner-pages .profile-sidebar-menu_item.active .profile-sidebar-menu_link,
.profile-sidebar--inner-pages .profile-sidebar-menu_link:hover {
    border-color: #5184e5;
}

.profile-sidebar--inner-pages .profile-sidebar-menu_link svg {
    width: 24px;
}

.profile-sidebar--inner-pages .profile-sidebar-menu_link svg path {
    fill: #5184e5;
}

.profile-info {
    margin-bottom: 30px;
}

.profile-info_avatar-holder {
    background: #c8c8d2;
    border: 2px solid #c8c8d2;
    height: 130px;
    width: 130px;
    overflow: hidden;
}

.profile-info_change-avatar-btn {
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(81, 132, 229, .8);
    color: rgba(255,255,255, .8);
    height: 30px;
    line-height: 1;
    width: 100%;
    z-index: 99;
}

.profile-info_text {
    line-height: 1.8;
}

.profile-info_change-avatar-btn:hover {
    color: #fff;
    height: 100%;
}

.btn--shopping {
    border-radius: 20px;
    height: 36px;
    padding: 0 22px;
}

.btn--change-pass {
    border: 1px solid #e8e7ed;
    background: #e8e7ed;
}

.profile-required-icon {
    color: #5184e5;
}

.profile-form .register-form_input-text {
    padding-left: 20px;
    padding-right: 20px;
}

.profile-form .account-country-select + .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #21213b;
    padding-left: 20px;
}


.profile-form .register-form_input-text:not([readonly]),
.profile-form .account-country-select + .select2-container--default .select2-selection--single {
    border-color: #c8c8d2;
    background: #fff;
    color: #21213b;
}

.profile-form .register-form_input-radio + label:before {
    background-color: #e8e7ed;
    border-color: #e8e7ed;
    height: 26px;
    width: 26px;
}

.profile-form .register-form_input-radio:checked + label:before {
    background: #fff;
    border-color: #5184e5;
    box-shadow: inset 0 0 0 9px #5184e5;
}

.profile-form .form-checkes-outer {
    min-height: 38px;
}

.profile-form .form-group {
    margin-bottom: 40px;
}

.btn--change-pass-holder {
    padding-top: 30px;
}

.btn--save-changes {
    border: 1px solid #5184e5;
    background: #5184e5;
    color: #fff;
}

.profile-inner-pg-right-cnt {
    background: #fff;
    padding: 2%;
    flex: auto;

}

.profile-sidebar--inner-pages,
.profile-inner-pg-right-cnt_inner{
    background: #e3e6ed47;
}

.profile-inner-pg-right-cnt_inner {
    padding: 35px;
}

.profile-status-wrap,
.table-ntfs.table-striped tbody tr:nth-of-type(odd) {
    background: #e8e7ed;
}

.table-ntfs td,
.table-ntfs th {
    white-space: nowrap;
}

.profile-status-wrap {
    padding: 15px;
}

.profile-status-wrap_title {
    border-bottom: 1px solid #5184e5;
    padding-bottom: 10px;
}

.ntfs-btn,
.ntfs-btn:hover,
.ntfs-btn:focus,
.ntfs-btn:active,
.btn-transp:hover {
    background: #5184e5;
    border-color: #5184e5;
    color: #fff;
}

.profile-inner-pg-right-cnt .display-grid .products-wrap_col, .display-grid .news-wrap_col {
    width: 25%;
}

.btn-transp {
    background: transparent;
    border-color: #5184e5;
    color: #5184e5;
}

.account-card .card-title {
    background: #e8e7ed;
    padding: 10px 1.25rem;
}

.nav-link--new-address {
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 14px;
}

.tickets-comments .user-img,
.comments-refresh .admin_updated .image {
    background: #e8e7ed;
}

.tickets-comments .user-img,
.tickets-comments .user-img img,
.comments-refresh .admin_updated .image,
.comments-refresh .admin_updated .image img {
    width: 45px;
    height: 45px;
}

.tickets-comments .user-img img {
    object-fit: cover;
    font-family:"object-fit: cover;";
}

.comments-refresh .admin_updated,
.user-add-comment.tickets-comments,
.ticket-reply-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
}

.comments-refresh .admin_updated {
    margin-bottom: 35px;
}

.comments-refresh .admin_updated .image {
    margin-bottom: 5px;
}

.comments-refresh .card,
.add-comment_field {
    background: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 0;
}

.add-comment_field {
    padding: 1.25rem;
}

.add-comment_field:focus {
    background: transparent;
}


.adult-modal {
    color: #fff;
}

.adult-modal .modal-content {
    position: relative;
    background: rgba(0, 0, 0, .4);
    background-size: cover;
    padding-top: 50px;
    height: 300px;
}










/*cookie*/
.cookie-consent__message {
    display: inline-block;
    color: #fff;
}

.cookie-consent__message a{
    color: #5184e5;
}

.cookie-consent__message a:hover {
    text-decoration: underline;
}

.js-cookie-consent.cookie-consent {
    background: #222;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.js-cookie-consent-agree.cookie-consent__agree {
    background: #5184e5;
    outline: none;
    border: 0;
    color: #fff;
    padding: .375rem .75rem;
    flex: none;
}

@media (min-width: 769px) {

    .display-grid .product-card:hover .product-card_view,
    .display-grid .product-card:hover .product-card_body,
    .product-card:hover,
    .news-card:hover {
        -webkit-box-shadow: 9px 9px 12px 0px rgba(16,16,20,0.2);
        -moz-box-shadow: 9px 9px 12px 0px rgba(16,16,20,0.2);
        box-shadow: 9px 9px 12px 0px rgba(16,16,20,0.2);
    }

    .display-grid .product-card:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .display-grid .product-card:hover .product-card_body {
        border-width: 0 1px 0 1px;
    }

    .display-grid .product-card .product-card_btn,
    .display-grid .product-card-thumbs {
        display: none !important;
    }

    .display-grid .products-wrap_col:hover,
    .display-grid .products-wrap:hover {
        z-index: 99;
    }

    .display-grid .product-card:hover .product-card_btn {
        display: inline-flex !important;
    }

    .display-grid .product-card:hover .product-card-thumbs {
        display: flex !important;
    }

    .display-grid .product-card_body {
        border-width: 0 1px 1px 1px;
    }

    .display-grid .product-card {
        min-height: 450px;
    }

    .display-grid .product-card_body {
        position: absolute;
        top: 290px;
        left: 0;
    }

    .news-card-wrap_col:hover {
        bottom: 10px;
    }

}

@media (max-width: 1630px) {
    .product-single-view-outer {
        width: 360px;
        flex: none;
    }

    .single-product-dtls-wrap-outer {
        padding-left: 15px;
    }

}

@media (max-width: 1629px) {
    .display-grid .products-wrap_col,
    .display-grid .news-wrap_col{
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }
}


@media (max-width: 1199px) {
    .display-grid .products-wrap_col,
    .display-grid .news-wrap_col{
        max-width: 50%;
        flex: 0 0 50%;
    }

    .single-product-main-title.visible-on-small {
        display: flex !important;
    }

    .single-product-main-title {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .display-grid .products-wrap_col,
    .display-grid .news-wrap_col{
        max-width: 50%;
        flex: 0 0 50%;
    }
    .sort-by_select.sort-by-products .select-2 + .select2-container{
        width: 100% !important;
    }
    .sort-by_select .select-2 + .select2-container {
        width: 110px !important;
    }
}


@media (max-width: 991px) {

    .product-card .product-card_btn {
        padding-left: 20px;
        padding-right: 20px;
    }

    .product-pack-select + .select2-container {
        width: 350px !important;
    }

    .continue-shp-wrapp .product-card_btn {
        width: 220px;
    }

    .continue-shp-wrapp {
        padding: 5px 15px;
    }

    .continue-shp-wrapp .product-card_btn {
        padding: 10px 26px;
    }

    .continue-shp-wrapp_qty {
        width: 150px;
        height: 45px;
    }

    .continue-shp-wrapp .product-card_price {
        font-size: 30px;
        padding-left: 44px;
    }

    .product-card_old-price {
        font-size: 22px;
    }
}

@media(max-width: 768px) {
    .product-grid-list {
        display: none !important;
    }

    .sort-by-selects {
        position: absolute;
        right: 0;
        top: 120%;
        display: flex;
        padding: 10px 5px;
        width: 100%;
        -webkit-box-shadow: 0 0 3px #d7d7d7;
        box-shadow: 0 0 3px #d7d7d7;
        z-index: 99;
    }

    .sort-by-selects .sort-by_select:not(:last-of-type) {
        margin-right: 15px;
    }

    .single-product-main-title .font-36{
        font-size: 30px;
    }

    .single-product-main-title .like-icon {
        margin-right: 10px;
    }
}

@media(max-width: 767px) {
    .display-grid .products-wrap_col,
    .display-grid .news-wrap_col {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .product-pack-select + .select2-container {
        width: 280px !important;
    }

    .product-single-info_custom-control:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .single-product-dtls-wrap-outer {
        position: relative;
    }

    .product-single-share-col {
        position: absolute;
        right: 0;
        top: 18px;
        padding: 0;
    }

    .product-single-info_label {
        margin-right: 0;
        margin-bottom: 5px!important;
    }

    .range-steps {
        padding-top: 20px;
        width: 100%;
    }

    .product-single-share-col .ml-auto {
        margin-left: 0 !important;
    }

}

@media(max-width: 640px) {
    .continue-shp-wrapp_qty {
        margin-right: 25px;
        width: 105px;
    }

    .continue-shp-wrapp .product-card_btn {
        margin-right: 25px;
        width: 180px;
    }

    .continue-shp-wrapp_right {
        width: 100%;
        justify-content: space-between;
    }

    .scroll-top-btn {
        height: 45px;
        width: 45px;
        bottom: 0;
        right: 0;
    }
}

@media(max-width: 455px) {
    .continue-shp-wrapp .product-card_price {
        position: absolute!important;
        right: 15px;
        top: 8px;
        padding-left: 37px;
    }

    .continue-shp-wrapp_link {
        margin-right: auto;
    }

    .continue-shp-wrapp .product-card_btn {
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .continue-shp-wrapp .product-card_price {
        font-size: 25px;
    }

    .product-card_old-price {
        font-size: 18px;
    }

    .product-pack-select + .select2-container {
        width: 180px !important;
    }

    .sort-by-selects {
        flex-direction: column;
    }

    .sort-by-selects .sort-by_select:not(:last-of-type) {
        margin-bottom: 15px;
    }
}


@media(max-width: 425px) {
    .product-single-view-outer {
        width: 220px;
    }
    .logo-small-screens_logo {
        width: 48px;
    }

    .header-top .navbar-toggler {
        margin-left: 5px;
    }

    .logo-small-screens {
        margin-left: 5px !important;
    }

    .header-login-link {
        font-size: 13px;
    }

    header .header-top .user-name {
        margin-left: 4px;
    }

    .profile-inner-pg-right-cnt_inner {
        padding-left: 2px;
        padding-right: 2px;
    }

    .profile-sidebar {
        width: 255px;
        right: -255px;
    }

    header .header-bottom .cat-search .select2.select2-container.select2-container--default {
        width: 90px !important;
    }
}

/*responsive height*/
@media (max-height: 490px) {
    .profile-sidebar_avatar-holder img,
    .profile-sidebar_avatar-holder {
        height: 100px;
    }

    .profile-sidebar-menu_link {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .profile-sidebar {
        padding-bottom: 18px;
    }
}
/*new css for single page items*/

.single-product-row-repeatable:not(:last-of-type) {
    margin-bottom: 25px;
}